h1{font-size: 50px;

font-family: 'Poppins', sans-serif;

}
body{
    margin: 0%;
}
h2{
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: red;
    font-family: 'Poppins', sans-serif;

}
.hasib{color:orange;}
.kon{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.kon img{
width: 100%;
}
.huk{
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.dg{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon,red);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight:700;


}